body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'Docktrin';
    src: url('fonts/docktrin.ttf') format('truetype');
}

@font-face {
    font-family: 'Creative Juice';
    src: url('fonts/creative_juice.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

/* Using the font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Docktrin', sans-serif;
}

/* Anwendung der Schriftart für normale Text */
body {
    font-family: 'Creative Juice', sans-serif;
}

/* Anwendung der Schriftart für Buttons */
button {
    font-family: 'Creative Juice', sans-serif;
}

h1 {
    font-size: 50px;
    position: absolute;
    top: 2px;
    color: #575757b5;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
}

.canvas-container {
    position: relative;
    overflow: hidden;
    display: flex;
}

.start-screen {
    position: relative;
}

.button-mainmenu-container {
    position: absolute;
    bottom: 75%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.img-startscreen {
    width: 820px;
    height: 480px;
    border-radius: 4px;
}

.btn-play,
.btn-controls {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.btn-play:hover,
.btn-controls:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.1);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.fullandminimize-audio-btns,
.btn-audio-on,
.btn-audio-off {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.open-fullscreen,
.close-fullscreen {
    width: 27px;
    height: auto;
}

.open-fullscreen:hover,
.close-fullscreen:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.btn-audio-on,
.btn-audio-off {
    width: 30px;
    height: auto;
}

.btn-audio-on:hover,
.btn-audio-off:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.d-none {
    display: none;
}

.img-gameover {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: scale-in-center 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.endgame-actions {
    position: absolute;
    top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.restart-game {
    background-color: #83838382;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.restart-game:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.btn-mainmenu {
    background-color: #83838382;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.btn-mainmenu:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7955485d;
    width: 820px;
    height: 480px;
    position: relative;
}

.btn-close {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}

.btn-close:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.img-trophy {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: scale-in-center 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.d-none {
    display: none !important;
}

.game-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 390px;
    margin-top: 40px;
    background-color: #69666673;
    border: solid 1px rgb(122 122 122 / 60%);
}

.control-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.game-controls img {
    width: 30px;
    height: 30px
}

.game-controls p {
    font-size: 24px;
    font-weight: bold;
}

/***Only Keyframes***/
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***Canvas***/
@media only screen and (max-width: 1200px) {
    .headline {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    body {
        background-image: none;
    }

    canvas {
        width: 100%;
    }

    .img-trophy {
        max-width: 420px;
        width: 250px;
    }

    .img-gameover {
        max-width: 420px;
        width: 250px;
    }
}

/***Start Screen***/
@media (max-width: 820px) {
    .img-startscreen {
        width: 100%;
        height: 100%;
    }

    h1 {
        display: none;
    }
}

@media (max-height: 480px) {
    .img-startscreen {
        height: 100vh !important;
    }
}

@media (max-width: 690px) {
    .btn-play, .btn-controls {
        width: 80px;
    }

    .restart-game {
        height: 40px;
        width: 150px;
        font-size: 26px;
        font-weight: normal;
    }

    .btn-mainmenu {
        height: 40px;
        width: 150px;
        font-size: 26px;
        font-weight: normal;
    }
}

@media (max-width: 550px) {
    .btn-play, .btn-controls {
        width: 70px;
    }

    .endgame-actions {
        
    }
}

@media (max-width: 500px) {
    .endgame-actions {
        
    }

    .restart-game {
        height: 30px;
        width: 110px;
        font-size: 22px;
    }

    .btn-mainmenu {
        height: 30px;
        width: 110px;
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .endgame-actions {
        
    }

    .restart-game {
        height: 25px;
        width: 100px;
        font-size: 20px;
    }

    .btn-mainmenu {
        height: 25px;
        width: 100px;
        font-size: 20px;
    }

    .btn-play, .btn-controls {
        width: 60px;
    }
}

@media (max-width: 370px) {
    .btn-play, .btn-controls {
        width: 40px;
    }
}

/***Steering Menu***/
@media (max-width: 820px) {
    .controls-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .btn-close {
        width: 25px;
        height: 25px;
        top: 15px;
    }
}

@media (max-width: 470px) {
    .controls-container h2 {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    .controls-container h2 {
        font-size: 25px;
    }
}

@media (max-width: 360px) {
    .controls-container h2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 345px) {
    .controls-container h2 {
        font-size: 20px;
    }

    .btn-close {
        top: 23px;
        width: 25px;
        height: 25px;
    }
}