body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: 'Docktrin';
    src: url('fonts/docktrin.ttf') format('truetype');
}

@font-face {
    font-family: 'Creative Juice';
    src: url('fonts/creative_juice.ttf') format('truetype');
}

/* Anwendung der Schriftart für die Überschriften */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Docktrin', sans-serif;
}

/* Anwendung der Schriftart für normale Text */
body {
    font-family: 'Creative Juice', sans-serif;
}

/* Anwendung der Schriftart für Buttons */
button {
    font-family: 'Creative Juice', sans-serif;
}


h1 {
    font-size: 50px;
    position: absolute;
    top: 2px;
    color: #575757b5;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;

}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container img {
    margin-right: 10px; /* Abstand zwischen den Icons */
}

.open-fullscreen {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 15px;
    right: 470px;
}

.open-fullscreen:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.exitFullscreenIcon {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 13px;
    right: 150px;
}

.exitFullscreenIcon:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.canvas-container {
    position: relative;
}

.start-screen {
    position: relative;
}

.button-mainmenu-container {
    position: absolute;
    bottom: 75%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.img-startscreen {
    width: 820px;
    height: 480px;
    border-radius: 4px;
}

.btn-play,
.btn-controls {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.btn-play:hover,
.btn-controls:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.1);
}


.gameOverScreen {
    width: 820px;
    height: 480px;
    animation: scale-in-center 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.endgame-actions {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.restart-game {
    background-color: #83838382;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.restart-game:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}


.btnMainMenu {
    background-color: #83838382;
    box-sizing: border-box;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    height: 50px;
    width: 170px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.btnMainMenu:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.keyboardButton {
    width: 50px;
    height: 50px;
    padding-right: 120px;
    margin-top: 25px;
}

.keyboardIcon {
    font-size: 25px;
    padding-left: 120px;
    font-weight: bolder;
}

.audioOnIcon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 340px;
    bottom: 10px;
}

.audioOnIcon:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.audioOffIcon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 400px;
    bottom: 10px;
}

.audioOffIcon:hover {
    cursor: pointer;
    transition: 225ms ease-in-out;
    transform: scale(1.2);
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7955485d;
    width: 820px;
    height: 480px;
    position: relative;
}

.controls-container h2 {
    color: rgb(172, 63, 23);
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.arrowBack {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}

.arrowBack:hover {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    transform: scale(1.2);
}

.containerWithTextAndIcon {
    display: flex;
    align-items: center;
}

.win-screen {
    width: 820px;
    height: 480px;
    background-color:  hsl(24deg 100% 62% / 80%);
}

.win-screen h2 {
    color: #515151;
    font-size: 50px;
    padding-top: 15px;
    margin-top: 0;
    text-align: center;
    animation: scale-in-center 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.img-trophy {
    display: flex;
    justify-content: center;
}

.img-trophy img {
    position: absolute;
    top: 45px;
    width: 375px;
    padding-top: 15px;
    animation: scale-in-center 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.d-none {
    display: none;
}

/***only for Fullscreen***/
.canvasFullScreen {
    width: 100%;
    height: 100%;
}

.winScreenContainerFullScreen {
    width: 100%;
    height: 100%;
}

.winScreenContainerFullScreen h2 {
    padding-top: 180px;
}

.imgTrophyContainerFullScreen img {
    width: 230px;
    padding-bottom: 155px;
}

.gameOverScreenFullScreen {
    width: 100%;
    height: 100%;
}

.game-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 390px;
    margin-top: 40px;
    background-color: #69666673;
    border: solid 1px rgb(122 122 122 / 60%);

}

.control-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.game-controls img {
    width: 30px;
    height: 30px
}

.game-controls p {
    font-size: 24px;
    font-weight: bold;
}

/***Only Keyframes***/
@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/***Canvas***/
@media only screen and (max-width: 820px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .audioOffIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 360px;
        bottom: 10px;
    }

    .audioOnIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 300px;
        bottom: 10px;
    }

    .open-fullscreen {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 15px;
        right: 440px;
    }
}

@media (max-width: 690px) {
    .audioOffIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 300px;
        bottom: 10px;
    }

    .audioOnIcon {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 240px;
        bottom: 10px;
    }

    .open-fullscreen {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 15px;
        right: 370px;
    }

    .btnMobile {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 550px) {
    .audioOffIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 230px;
        bottom: 8px;
    }

    .audioOnIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 180px;
        bottom: 8px;
    }

    .open-fullscreen {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 12px;
        right: 280px;
    }

    .btnMobile {
        width: 30px;
        height: 30px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 450px) {
    .audioOffIcon {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 180px;
        bottom: 7px;
    }

    .audioOnIcon {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 150px;
        bottom: 7px;
    }

    .open-fullscreen {
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 10px;
        right: 220px;
    }

    .btnMobile {
        width: 25px;
        height: 25px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 370px) {
    .audioOffIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        right: 160px;
        bottom: 5px;
    }

    .audioOnIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        right: 120px;
        bottom: 5px;
    }

    .open-fullscreen {
        width: 18px;
        height: 18px;
        position: absolute;
        bottom: 7px;
        right: 200px;
    }

    .btnMobile {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 300px) {
    .audioOffIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        right: 120px;
        bottom: 5px;
    }

    .audioOnIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        right: 80px;
        bottom: 5px;
    }

    .open-fullscreen {
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: 8px;
        right: 160px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

/***Start Screen***/
@media (max-height: 480px) {
    .img-startscreen {
        height: 100vh !important;
    }

    h1 {
        display: none;
    }
}


@media (max-width: 820px) {
    .img-startscreen {
        width: 100%;
        height: 100%;
    }

    h1 {
        display: none;
    }
}

@media (max-width: 820px) {
    .btn-plays {

    }

    .btn-controls {

    }
}

@media (max-width: 690px) {

    }

    .btn-controls {

    }

    .restart-game {
        height: 40px;
        width: 150px;
        font-size: 26px;
        font-weight: normal;
    }

    .btnMainMenu {
        height: 40px;
        width: 150px;
        font-size: 26px;
        font-weight: normal;
    }

}

@media (max-width: 550px) {
    .btn-plays {

    }

    .btn-controls {

    }

    .endgame-actions {
        bottom: 30px;
    }
}

@media (max-width: 450px) {
    .endgame-actions {
        bottom: 20px;
    }

    .restart-game {
        height: 30px;
        width: 130px;
        font-size: 24px;
    }

    .btnMainMenu {
        height: 30px;
        width: 130px;
        font-size: 24px;
    }

    .btn-plays {

    }

    .btn-controls {

    }
}

@media (max-width: 370px) {
    .btn-plays {

    }

    .btn-controls {

    }
}

@media (max-width: 300px) {
    .btn-play {

    }

    .btn-controls {

    }
}

/***Gameover Screen***/
@media (max-height: 480px) {
    .gameOverScreen {
        height: 100vh !important;
    }
}

@media (max-width: 820px) {
    .gameOverScreen {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 470px) {

}


/***Win Screen***/
@media (max-width: 820px) {
    .win-screen {
        width: 100vw;
    }

    .img-trophy img {
        width: 160px;
        position: absolute;
        top: 130px;
        right: 340px;
    }
}

@media (max-width: 620px) {
    .win-screen h2 {
        font-size: 30px;
    }

    .win-screen {
        width: 100vw;
    }

    .img-trophy img {
        width: 160px;
        position: absolute;
        top: 70px;
        right: 240px;
    }
}

@media (max-width: 470px) {
    .win-screen h2 {
        font-size: 25px;
        position: absolute;
        top: 100px;
        right: 50px;
    }

    .win-screen {
        width: 100vw;
    }

    .img-trophy img {
        width: 160px;
        position: absolute;
        top: 200px;
        right: 150px;
    }
}

@media (max-width: 390px) {
    .win-screen h2 {
        font-size: 20px;
        position: absolute;
        top: 240px;
        right: 70px;
    }

    .img-trophy img {
        padding-top: 55px;
        position: absolute;
        top: -20px;
        right: 130px;
    }

    .win-screen {
        margin-top: 116px;
    }
}

@media (max-width: 320px) {
    .win-screen {
        width: 100vw;
    }

    .win-screen h2 {
        font-size: 20px;
        position: absolute;
        top: 220px;
        right: 40px;
    }

    .img-trophy img {
        padding-top: 55px;
        position: absolute;
        top: -40px;
        right: 80px;
    }

    .win-screen {
        margin-top: 116px;
    }
}

/***Steering Menu***/
@media (max-width: 820px) {
    .controls-container {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .keyboardButton {
        padding-right: 100px;
    }

    .keyboardIcon {
        padding-left: 100px;
    }
}

@media (max-width: 500px) {
    .arrowBack {
        left: 25px;
    }

    .keyboardButton {
        padding-right: 80px;
    }

    .keyboardIcon {
        padding-left: 80px;
    }
}

@media (max-width: 470px) {
    .controls-container h2 {
        font-size: 30px;
    }

    .arrowBack {
        width: 35px;
        height: 35px;
    }

    .keyboardButton {
        padding-right: 60px;
    }

    .keyboardIcon {
        padding-left: 60px;
    }
}

@media (max-width: 420px) {
    .controls-container h2 {
        font-size: 25px;
    }

    .arrowBack {
        top: 25px;
        width: 30px;
        height: 30px;
    }

    .keyboardButton {
        padding-right: 40px;
        width: 40px;
        height: 40px;
    }

    .keyboardIcon {
        padding-left: 40px;
        font-size: 22px;
    }
}

@media (max-width: 360px) {
    .controls-container h2 {
        margin-bottom: 40px;
    }

    .keyboardButton {
        padding-right: 30px;
    }

    .keyboardIcon {
        padding-left: 30px;
    }
}

@media (max-width: 345px) {
    .controls-container h2 {
        font-size: 20px;

    }

    .arrowBack {
        top: 23px;
        width: 25px;
        height: 25px;
    }

    .keyboardButton {
        padding-right: 25px;
        margin-bottom: 10px;
        margin-top: 22px;
        width: 35px;
        height: 35px
    }

    .keyboardIcon {
        padding-left: 25px;
        font-size: 20px;
    }
}

@media (max-width: 310px) {
    .controls-container h2 {
        font-size: 18px;

    }

    .arrowBack {
        width: 20px;
        height: 20px;
    }

    .keyboardButton {
        width: 30px;
        height: 30px
    }

    .keyboardIcon {
        font-size: 18px;
    }
}